<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--CONECTAR A LA BASE DE DATOS-->
  <connectionStrings>
    <add name ="conectar" connectionString="Server=JOSIAS-ALV;Integrated Security=yes;Database=Universidad_beta2"/>
  </connectionStrings>
</configuration>